syntax: glob
*~
.gem
Library
workspaces
.grails
Documents
weceem-uploads
Downloads
devel
temp
iMacros
tmp
.npm
Pictures
Music
.Trash
Movies
Google Drive
Dropbox
Sites
Public
cert
id_dsa.pub
id_rsa.pub
Brow
Applications
Applications (Parallels)
AeroFS
.yjp
Desktop
.wireshark-etc
.weceem
.twister
.node-gyp
.subversion
.Fiddler2
.m2
.local
.mono
.jrebel
.ivy2
.griffon
.gradle
.gnupg
.fontconfig
.dvdcss
.dropbox
.cache
.android
.config
.ApacheDirectoryStudio
.vagrant.d
.rvm
.gvm
.bundler
.groovy
.ideaLibSources
log
ownCloud
VirtualBox VMs
perl5
.cpan
.zdirs*
.freemind
.emacs*
.cups
.bash*
.grails*
.viminfo
.zhistory
.zlogout
.zsh-update
.zsh_history
.zshenv
.zshrc-e
.DS_Store
.IntelliJIdea14/restart/restarter
.Xauthority
.gitignore_global
.hgignore_global
.joe_state
.kitchen/logs/kitchen.log
.lesshst
.milkmaid
.nbprofiler/machinedata.jdk17
.rnd
.ssh/known_hosts
.dynaTrace 
pm
.VirtualBox
.keychain
old
SpiderOak Hive
.sdkman
.atom
SpiderOak Hive.bak
.ghc
.cabal
.thumbnail*
.mozilla
.xsess*
.xscreens*
.dbus
.mplayer
.dmrc
Schreibtisch
SpiderOak Hive.bla
.swt
.nx
.IntelliJIdea15
.docker
.qt
.oracle_jre_usage
.zcompdump

.cpanm/
.forever/
.hg/
.hgignore
.node_repl_history
.python-eggs/
.yowsup/
.zcompdump.zwc
